<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/about.css">
</head>
<body id="about">
    <div class="navbar">
        <ul class="navbar-list">
            <li class="home"><a class="link" href="home.html">Home</a></li>
            <li class="about"><a class="link" href="about.html">About me</a></li>
            <li  class="projects"><a class="link" href="project.html">My projects</a></li>
            <li class="contact"><a class="link" href="contact.html">Contact me</a></li>
        </ul>
    </div>

    <div class="content content-flex">
        <div class="content-text">
            <h1 class="title">Hello</h1>
            <p class="paragraph">
                I am a Computer Technician (IFPB) and a student of Systems Analysis and Development. 
                I have practical experience in mobile development with React Native, TypeScript, and REST API integration. 
                Currently, I am seeking new opportunities in the field and dedicating my studies to the Java ecosystem, 
                in addition to having knowledge of Python, Web Development, Docker, and version control with Git.
            </p>
        </div>
        <div>
            <img src="/assets/davi-bg.png" class="image" alt="">
        </div>
    </div>
</body>
</html>