<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact me</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/contact.css">
</head>
<body id="contact">
    <div class="navbar">
        <ul class="navbar-list">
            <li class="home"><a class="link" href="home.html">Home</a></li>
            <li class="about"><a class="link" href="about.html">About me</a></li>
            <li  class="projects"><a class="link" href="project.html">My projects</a></li>
            <li class="contact"><a class="link" href="contact.html">Contact me</a></li>
        </ul>
    </div>
    <div class="align">
        <div class="content">
            <div class="contact-content-title">
                <h1 class="title contact-title">you can</h1>
                <h1 class="title contact-title">contact me by</h1>
            </div>
            
            <div>
                <div class="content-flex contact-content">
                    <img src="../assets/linkedin.png" class="contact-images" alt="">
                    <a class="subtitle" href="https://www.linkedin.com/in/davi-melo-8a1440378/" target="_blank">https://www.linkedin.com/in/davi-melo-8a1440378/</a>
                </div>
                <div class="content-flex contact-content">
                    <img src="../assets/gmail.png" class="contact-images" alt="">
                    <a class="subtitle" href="mailto:davimelonsmt@gmail.com">davimelonsmt@gmail.com</a  >
                </div>
                <div class="content-flex contact-content">
                    <img src="../assets/github.png" class="contact-images" alt="">
                    <a class="subtitle" href="https://github.com/daviimelo" target="_blank">https://github.com/daviimelo</a>
                </div>
            </div>
        </div>
    </div>
    
    <img src="../assets/bg.png" class="bottom-right-image" alt="">
</body>
</html>