.paragraph {
    color: #1E1E1E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: justify;
    width: 80%;
    margin-top: 2rem;
}

.content-image {
    width: 100%;
    max-width: 37.5rem;
    min-width: 25rem;
    display: flex;
    justify-content: center;
}   

.image {
    width: 100%;
    height: auto;
}

@media (min-width: 87.5rem) {
    .paragraph {
        font-size: 1.3rem;
    }
}

@media (max-width: 65rem) {
    .content-flex {
        flex-direction: column;
        gap: 3rem;
        height: auto;       
        margin-top: 2rem;
    }

    .paragraph {
        width: 100%;
    }

    .content-image {
        width: 100%;
        max-width: 25rem;
        min-width: 10rem;
    }
}

@media (max-width: 55rem ) {
    .align {  
        align-items: center;
    }
}