#contact {
    overflow: hidden;
}

.contact-content {
    align-items: center;
    margin-top: 2rem;
}

.contact-content-title {
    margin-bottom: 4rem;
}

.contact-title {
    line-height: 0.8;
}

.contact-images {
    width: 2.5rem;
    height: 2.5rem;
}

.subtitle {
    text-decoration: none;
    font-weight: 450;
    margin-left: 0.8rem;
    transition: color 0.3s ease;
}

.subtitle:hover {
    color: #FF3131;
}

.bottom-right-image {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 400px;
    margin-bottom: -6rem;
    margin-right: -3rem;
    pointer-events: none;
}

@media (max-width: 65rem) {
    .contact-content-title {
        margin-bottom: 2rem;
    }

    .contact-images {
        width: 2rem;
        height: 2rem;
    }

    .subtitle {
        font-size: 0.9rem;
    }

    .bottom-right-image {
        margin-bottom: -4rem;
        margin-right: -1.5rem;
        max-width: 18.75rem;
        max-height: 18.75rem;
    }
}