#contact {
    overflow-x: hidden;
}

.contact-content {
    align-items: center;
    margin-top: 2rem;
    transition: transform 0.3s ease;
}

.contact-content:hover {
    transform: translateX(10px);
}

.contact-content-title {
    margin-bottom: 4rem;
}

.contact-title {
    line-height: 0.8;
}

.contact-images {
    width: 2.5rem;
    height: 2.5rem;
}

.subtitle {
    text-decoration: none;
    font-weight: 450;
    margin-left: 0.8rem;
    transition: color 0.3s ease;
    word-break: break-word;
}

.subtitle:hover {
    color: #FF3131;
}


.bottom-right-image {
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 20rem;
    pointer-events: none;
    z-index: -1;  
}

@media (max-width: 48rem) {
    .bottom-right-image {
        width: 10rem;
    }
}

@media (max-width: 65rem) {
    .contact-content-title {
        margin-bottom: 2rem;
    }

    .contact-images {
        width: 2rem;
        height: 2rem;
    }

    .subtitle {
        font-size: 0.9rem;
    }

    .bottom-right-image {
        max-width: 15rem;
    }
}
