.project-image {
    justify-content: space-between;
    margin-top: 3rem;
}

.paragraph-image {
    color: #1E1E1E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}